.gameInterface {
    display: flex;
    flex-direction: column;
    background-color: darksalmon;
    border: 2px solid black;
    border-radius: 15px;
    width: 30vw;
    height: 60vh;
    margin-left: 5%;
    text-align: center;
}

.interfaceHeader {
    font-size: 45px;
}

.interfaceData {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10%;
}